<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>WeatherAPI</title>
		<script src="script.js" defer></script>
	</head>
	<body>
		<h1>Weather API is callin ☎️</h1>
		<form id="cityForm">
			<input id="inputCity" type="text" placeholder="Insert city name here" />
			<button>Submit</button>
		</form>
		<label style="display: flex; margin-top: 10px">
			<input type="checkbox" />
			Check this out
		</label>
		<h4 id="cityParagraph" style="margin-bottom: 0px">
			Name of city will type here
		</h4>
		<p style="margin-top: 0px">
			Temperature : <label id="temperature">x</label>
		</p>
	</body>
</html>
